ol.index-li {
    list-style: none;
    counter-reset: my-awesome-counter;
}
li.index-li {
    counter-increment: my-awesome-counter;
    margin: 0.25rem;
}
li.index-li::before {
    content: counter(my-awesome-counter);
    background: #4d94ff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
}

label {
    font-weight: bold;
}

.form-valid-error {
    color: red;
}

.success {
    color: green;
}